[submodule "com/msg_forward"]
	path = com/msg_forward
	url = https://github.com/yiliangwu880/msg_forward.git
[submodule "com/svr_util"]
	path = com/svr_util
	url = https://github.com/yiliangwu880/svr_util.git
[submodule "com/libevent_cpp"]
	path = com/libevent_cpp
	url = https://github.com/yiliangwu880/libevent_cpp.git
[submodule "com/cpp_cfg"]
	path = com/cpp_cfg
	url = https://github.com/yiliangwu880/cpp_cfg.git
[submodule "com/access_svr"]
	path = com/access_svr
	url = https://github.com/yiliangwu880/access_svr.git
[submodule "com/dbproxy"]
	path = com/dbproxy
	url = https://github.com/yiliangwu880/dbproxy.git
[submodule "com/simple_web_svr"]
	path = com/simple_web_svr
	url = https://github.com/yiliangwu880/simple_web_svr.git

[submodule "com/cpp_lua_mgr"]
	path = com/cpp_lua_mgr
	url = https://github.com/yiliangwu880/cpp_lua_mgr.git
